*:not(.fa) {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
